/* #region global */
:root {
    --color-bg-main: #FBF9EF;
    --color-logo-main: #DA4453;
    --color-subtitle-main: #5E5B54;
    --color-text-main: #F6855E;
    --color-text-dark-rgb: 33, 37, 41; 
    --color-bg-secondary-rgb: 233, 236, 239;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft JhengHei";
}

html, body {
    width: 100%;
    min-height: 100%;
    background-color: var(--color-bg-main);
}

h2 {
    color: var(--color-subtitle-main);
    font-style: italic;
    font-weight: bold;
    margin-bottom: .8rem;
}

li a {
    color: var(--color-text-main);
    text-decoration: none;
    font-weight: bold;
}
/* #endregion */

/* #region Navbar */
nav .navbar-brand {
    color: var(--color-logo-main);
    font-style: italic;
}
/* #endregion */

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
}

.login-link {
    color: var(--color-text-main);
    text-decoration: none;
}

/* #region Store index */
.img-banner, .img-genre {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-banner {
    background-image: url("../Images/music-store-banner.jpg");
    box-shadow: inset 0 0 2rem .5rem rgba(var(--color-bg-secondary-rgb), .6);
    border-radius: 4px;
}

.img-link {
    position: relative;
    height: 200px;
    text-decoration: none;
    overflow: hidden;
}

.img-link::after {
    content: "";
    transition: all .5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-bg-secondary-rgb), 0);
}

.img-link:hover::after {
    background-color: rgba(var(--color-bg-secondary-rgb), .5);
}

.img-link h3 {
    position: absolute;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
    z-index: 10;
}

.img-link:hover h3 {
    color: rgba(var(--color-text-dark-rgb), 1);
}
/* #endregion */